<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>Quotes</servlet-name>
		<servlet-class>com.QuotesServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Vote</servlet-name>
    <servlet-class>com.Vote</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>DumpVote</servlet-name>
    <servlet-class>com.DumpVotes</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ValidateEmail</servlet-name>
    <servlet-class>com.ValidateEmailServlet</servlet-class>
  </servlet>

	<servlet-mapping>
		<servlet-name>Vote</servlet-name>
		<url-pattern>/vote</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>Quotes</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DumpVote</servlet-name>
    <url-pattern>/dump</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ValidateEmail</servlet-name>
    <url-pattern>/contact</url-pattern>
  </servlet-mapping>
  
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
